* {
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  padding: 0;
}

body {
  background-color: #242424;
  color: white;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  text-align: justify;
  gap: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.actionButton {
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  max-width: 120px;
  min-width: 120px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.actionButton:hover {
  border-color: rgb(222, 93, 18);
  transform: scale(1.1);
}

.lake {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-gap: 7px;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-image: url("./assets/water_lily.png");
  background-position: center;
  background-size: cover;
}

.selected-frog {
  border: 4px solid rgb(222, 93, 18);
}

.frog {
  width: 80px;
  height: 80px;
  color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.male {
  background-image: url("./assets/blue_frog.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.female {
  background-image: url("./assets/red_frog.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
